@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap");

body {
  font-family: "Comic Sans MS", cursive, "One Open Sans", "Helvetica Neue",
    Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: rgb(62, 102, 23);
  background-color: #ffffc0;
  margin: 0;
  font-size: 16px;
  overflow-y: scroll;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
}

nav {
  z-index: 10;
  min-width: 275px;
  padding-left: 16px;
  padding-right: 8px;
  height: 100vh;
  border-right: 1px solid rgba(62, 102, 23, 0.6);
  position: sticky;
  top: 0;
  overflow-y: scroll;
  background-color: #9acc85;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

nav header {
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: calc(100% - 32px);
}

nav header .logo {
  height: 50px;
  position: absolute;
  top: 16px;
  right: 0;
}

nav #home {
  height: 40px;
  margin-top: 16px;
  fill: white;
  transition: all 0.5s ease;
}

nav .opener {
  opacity: 0;
  cursor: pointer;
  fill: white;
  height: 40px;
  width: 40px;
  top: 80px;
  position: absolute;
  transition: all 0.5s ease;
  transform: rotate(0deg);
}

.open nav .opener {
  transform: rotate(180deg);
}

nav li {
  padding: 32px 0px;
}

nav li > a {
  font-size: 1.35em;
  text-decoration: none;
  color: white;
}

nav footer {
  position: absolute;
  bottom: 16px;
  display: flex;
  width: calc(100% - 32px);
  justify-content: space-between;
}

nav #phone,
nav #email {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

nav #phone svg,
nav #email svg {
  fill: white;
}

nav::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
}

section header {
  width: 100%;
  height: 150px;
  background-color: #ffffc0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

section header > img {
  width: 30%;
  object-fit: cover;
}

section header .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section header .logo img {
  transition: all 1s ease-in-out;
  width: 250px;
  padding: 8px;
  background-color: #ffffc0;
  border-radius: 4px;
}

article {
  margin: 24px;
  width: calc(100% - 72px);
}

.link {
  display: flex;
  align-items: center;
}

.link > span {
  margin-left: 12px;
}

.thankyou {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  font-weight: bold;
  text-align: right;
  padding: 24px;
  z-index: 10;
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 0;
}

.thankyou > svg {
  fill: #ffffc0;
  stroke: rgb(62, 102, 23);
  stroke-width: 3px;
  transform: rotate(-135deg) scale(0.63);
  position: absolute;
  top: -118px;
  right: -78px;
}

.thankyou > p {
  margin: 0;
  position: relative;
}

.thankyou > .paw {
  position: absolute;
  height: 36px;
}

.thankyou > #paw1 {
  top: 42px;
  right: -8px;
}

.thankyou > #paw2 {
  top: 62px;
  right: 35px;
  transform: rotate(-9deg);
}

.thankyou > #paw3 {
  top: -2px;
  right: -2px;
  transform: rotate(-11deg);
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(62, 102, 23, 0.4);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input > input,
.input > textarea {
  background-color: white;
  padding: 15px;
  margin: 10px 10px 10px 25px;
  width: calc(100% - 100px);
  max-width: 500px;
  min-width: 200px;
}

form button {
  width: 200px;
  color: rgba(62, 102, 23, 0.4);
  padding: 10px;
  margin: 10px;
  font-size: 1.8em;
  align-self: center;
}

form#rehome > div {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

form#rehome label {
  max-width: 60%;
}

.columns {
  display: flex;
  justify-content: space-evenly;
}

#paypal.columns {
  align-items: center;
}

#paypal .columns {
  align-items: center;
}

#paypal select {
  padding: 4px;
  margin: 24px;
}

#paypal .inputImg {
  margin: 24px;
}

.facebook {
  background-color: #385898;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  justify-content: flex-end;
  overflow: hidden;
  align-items: baseline;
}

.facebook span {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 48px;
  margin-right: 8px;
}

footer {
  display: flex;
  width: calc(100vw - 300px);
}

footer > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  height: auto;
}

@media screen and (max-width: 700px) {
  section .logo {
    height: 64px;
  }
}

@media screen and (max-width: 650px) {
  nav {
    font-size: 10px;
    min-width: 56px;
    padding-top: 64px;
    justify-content: flex-start;
    height: calc(100vh - 64px);
  }

  nav .opener {
    opacity: 1;
    z-index: 100;
  }

  main.open {
    overflow: hidden;
    flex-direction: column;
  }

  .open nav {
    width: calc(100vw - 32px);
    align-items: center;
    font-size: 1.5em;
  }

  .open nav header {
    left: unset;
  }

  nav .logo {
    opacity: 0;
  }

  .open nav .logo {
    opacity: 1;
  }

  .open nav .opener {
    top: 16px;
    left: 16px;
  }

  .open nav #home {
    margin-left: calc(50% - 24px);
  }

  nav header {
    left: 16px;
  }

  nav ul {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .open nav ul {
    opacity: 1;
  }

  nav footer {
    flex-direction: column;
  }

  .open nav footer {
    flex-direction: row;
  }

  nav footer > * {
    margin: 8px;
  }

  .open .thankyou {
    color: #ffffc0;
    background-color: #9acc85;
  }

  footer {
    width: 100vw;
  }
}
